body, html {
    height: 100%;
    margin: 0;
    background-color: #f4f6f9;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.account-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh; /* căn giữa theo chiều dọc */
}

.account-box {
    background-color: #fff;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}
