@model LaptopStore.Models.Laptop

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Laptop</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="LaptopID" />
            <div class="form-group">
                <label asp-for="Brand" class="control-label"></label>
                <input asp-for="Brand" class="form-control" />
                <span asp-validation-for="Brand" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Model" class="control-label"></label>
                <input asp-for="Model" class="form-control" />
                <span asp-validation-for="Model" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SerialNumber" class="control-label"></label>
                <input asp-for="SerialNumber" class="form-control" />
                <span asp-validation-for="SerialNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CPU" class="control-label"></label>
                <input asp-for="CPU" class="form-control" />
                <span asp-validation-for="CPU" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RAM" class="control-label"></label>
                <input asp-for="RAM" class="form-control" />
                <span asp-validation-for="RAM" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Storage" class="control-label"></label>
                <input asp-for="Storage" class="form-control" />
                <span asp-validation-for="Storage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GPU" class="control-label"></label>
                <input asp-for="GPU" class="form-control" />
                <span asp-validation-for="GPU" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImportPrice" class="control-label"></label>
                <input asp-for="ImportPrice" class="form-control" />
                <span asp-validation-for="ImportPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SellingPrice" class="control-label"></label>
                <input asp-for="SellingPrice" class="form-control" />
                <span asp-validation-for="SellingPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageURL" class="control-label"></label>
                <input asp-for="ImageURL" class="form-control" />
                <span asp-validation-for="ImageURL" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ScreenSize" class="control-label"></label>
                <input asp-for="ScreenSize" class="form-control" />
                <span asp-validation-for="ScreenSize" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OperatingSystem" class="control-label"></label>
                <input asp-for="OperatingSystem" class="form-control" />
                <span asp-validation-for="OperatingSystem" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BatteryHealth" class="control-label"></label>
                <input asp-for="BatteryHealth" class="form-control" />
                <span asp-validation-for="BatteryHealth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
